/*
  ----------------
  パンくずのスタイル設定
  ----------------
*/

.breadcrumb {
  font-size: 12px;
  @media #{$sp} {
    font-size: 10px;
  }
  .containers {
    padding: 5px 0;
    @media #{$sp} {
      padding: 5px 10px;
    }
  }
  ul {
    li {
      position: relative;
      display: inline;

      &:not(:last-child) {
        margin-right: 30px;

        @media #{$sp} {
          margin-right: 20px;
        }

        &::before {
          content: '>';
          position: absolute;
          top: 0;
          bottom: 0;
          right: -15px;
          margin: auto;

          @media #{$sp} {
            right: -14px;
          }
        }
      }

      a {
        display: inline;
        &:hover {
          opacity: 1;
          text-decoration: underline;
        }
      }
    }
  }
}