/*
  ----------------
  Header
  ----------------
*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 30;
  transition: all .3s;
  background: #fff;
  &.hide {
    transform: translateY(-150px);
  }


  // 構築範囲　ここから　↓

  .header__inner {
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    @media #{$pc} {
      max-width: #{$container};
      min-width: #{$container};
    }
    @media #{$sp} {
      max-width: #{$container-full};
      padding: 10px;
      height: 75px;
      overflow: hidden;
    }
    .header__logo {
      display: flex;
      align-items: center;
      @media #{$sp} {
        display: block;
      }
      & * {
        vertical-align: middle;
      }
      &--img {
        width: 268px;
        @media #{$sp} {
          width: 180px;
        }
      }
      &--sub {
        font-size: 16px;
        font-weight: 700;
        padding: 5px 16px;
        margin-left: 16px;
        border-left: 1px solid #707070;
        @media #{$sp} {
          font-size: 12px;
          padding: 2px 0px 2px 8px;
          margin-left: 8px;
        }
      }
      &--txt {
        font-size: 14px;
        @media #{$sp} {
          font-size: 11px;
          margin-top: 10px;
        }
      }
    }
  }

  .search {
    margin: 0;
    padding: 0;
    @media #{$sp} {
      margin-top: 20px;
      width: 100%;
    }
    .search__inner{
      box-sizing: border-box;
      position: relative;
      background: #fff;
      border: 1px solid #707070;
      padding: 5px 10px;
      border-radius: 5px;
      height: 44px;
      width: 300px;
      overflow: hidden;
      @media #{$sp} {
        width: 100%;
        min-width: 300px;
      }
      & input[type="text"]{
        border: none;
        height: 2.0em;
        outline: 0;
        width: 260px;
        font-size: 16px;
        color: #999999;
        @media #{$sp} {
          width: 100%;
          font-size: 14px;
        }
      }
      & input[type="text"]:focus {
        outline: 0;
      }
      & input[type="submit"]{
        cursor: pointer;
        background-image: url(/assets/img/common/ico_search.png);
        background-size: contain;
        background-repeat: no-repeat; 
        border: none;
        position: absolute;
        width: 32px;
        height: 34px;
        right: 6px;
        top: 6px;
        outline : none;
        text-indent: -9999px;
      }
    }
  }

  .nav-list {
    background: #3A97B5;
    padding: 5px 0;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    height: 60px;
    
    &__inner {
      max-width: 1200px;
      min-width: 1200px;
      margin: 0 auto;
    }
    ul {
      width: 1000px;
      li {
        a {
          padding: 10px 0;
          position: relative;
          &::before {
            content: "";
            width: 0%; 
            height: 1px;
            background-color: #fff;
            display: block;
            position: absolute;
            bottom: 5px;
            left: 50%;
            transform: translateX(-50%);
            transition: all .3s linear;
          }
          &:hover {
            opacity: 1;
            &::before {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .btn-whitepaper {
    font-size: 16px;
    font-weight: 700;
    @media #{$sp} {
      margin-top: 10px;
    }
    a {
      position: relative;
      background: linear-gradient(90deg, rgba(232,136,4,1) 0%, rgba(255,197,67,1) 100%);
      width: 152px;
      height: 50px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 30px;
      color: #fff;
      &:hover {
        background: linear-gradient(270deg, rgba(232,136,4,1) 0%, rgba(255,197,67,1) 100%);
        opacity: 1;
      }
      @media #{$sp} {
        width: 152px;
      }
      &::before {
        position: absolute;
        content: "";
        left: 14px;
        width: 20px;
        height: 26px;
        background: url(/assets/img/common/ico_whitepaper.png);
        background-size: contain;
        background-repeat: no-repeat; 
      }
    }
  }

  // ここまで　↑

  #nav-toggle {
    padding: 10px;
    width: 35px;
    height: 35px;
    margin: 10px 0;
    span {
      display: block;
      background: #000;
      height: 2px;
      transition: transform 0.5s ease-in-out, top 0.5s ease;
    }
    span:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  #gloval-nav {
    display: none;
    background: #3A97B5;
    padding: 30px;
    ul {
      font-size: 14px;
      font-weight: bold;
      &.list {
        li {
          &:not(:last-child) {
            border-bottom: 1px solid #F4F5F6;
          }
          a {
            display: block;
            padding: 10px 20px;
            color: #fff;
          }
        }
      }
      &.aside {
        li {
          &:not(:last-child) {
            border-bottom: 1px solid #F4F5F6;
          }
          a {
            display: block;
            padding: 10px 30px;
            background: #f37d07;
            color: #fff;
            position: relative;
            &::before {
              content: '';
              position: absolute;
              top: 0;
              bottom: 0;
              margin: auto;
              left: 10px;
              width: 7px;
              height: 7px;
              border: 1px solid;
              border-color: #fff #fff transparent transparent;
              transform: rotate(45deg);
            }
          }
        }
      }
    }
  }
}

header.open {
  @media #{$pc} {
    height: auto;
  }
  #nav-toggle {
    position: relative;
    span {
      background: #000;
    }
    span:first-child {
      transform: rotate(45deg);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 27px;
    }
    span:nth-child(2) {
      display: none;
    }
    span:last-child {
      transform: rotate(-45deg);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 27px;
    }
  }

}