/*
  ----------------
  pagination
  ----------------
*/

.pagination {
  margin-top: 70px;
  @media #{$sp} {
    margin-top: 30px;
  }
  .screen-reader-text {
    display: none;
  }
  .nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    .page-numbers {
      width: 38px;
      height: 38px;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      border: 1px solid #3A97B5;
      color: #3A97B5;
      @media #{$sp} {
        width: 30px;
        height: 30px;
        font-size: 14px;
      }
      &:hover {
        opacity: 0.5;
      }
      &.prev {
        width: 38px;
        height: 38px;
        border: 1px solid #3A97B5;
        position: relative;
        @media #{$sp} {
          width: 30px;
          height: 30px;
        }
        &::before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          width: 12px;
          height: 12px;
          background-image: url(/assets/img/common/ico_arrow.png);
          background-size: contain;
          background-repeat: no-repeat; 
          transform: scale(-1, 1);
        }
      }
      &.next {
        width: 38px;
        height: 38px;
        border: 1px solid #3A97B5;
        position: relative;
        @media #{$sp} {
          width: 30px;
          height: 30px;
        }
        &::before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          width: 12px;
          height: 12px;
          background-image: url(/assets/img/common/ico_arrow.png);
          background-size: contain;
          background-repeat: no-repeat; 
        }
      }
      &.current {
        color: #fff;
        background-color:#3A97B5;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}