{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}

<!-- コラム一覧カテゴリ別ページ -->
<main class="column">

  <section>
    <div class="containers flex">

      <!-- タクソノミー -->
      <section class="main-conts article">

        <div class="column-ttl">
          <p class="article__sub">ビジネスカードの使い方や選び方を徹底解説！</p>
          <h1 class="article__ttl">ビジネスカードの選び方</h1>
          <h2 class="article__lead">個人事業主から経営者様までビジネスカード・法人カードに関する情報から選び方・使い方などビジネスライフを支援するクレジットカードの情報をご説明いたします。</h2>
        </div>

        <div class="article__wrap">

          <a href="#" class="flex item">
            <figure class="item__img"><img src="/assets/img/common/img_column_01.png" alt=""></figure>
            <summary class="item__box">
              <h2 class="item__box--ttl">消費税の計算方法｜ケースごとに端数処理の方法を解説</h2>
              <div class="flex fS aiC gap10 item__box--row">
                <span class="time">2023年●月●日（更新日）</span>・<span class="name">〇〇〇〇（監修した人の名前）</span>
              </div>
            </summary>
          </a>

          <a href="#" class="flex item">
            <figure class="item__img"><img src="/assets/img/common/img_column_04.png" alt=""></figure>
            <summary class="item__box">
              <h2 class="item__box--ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</h2>
              <div class="flex fS aiC gap10 item__box--row">
                <span class="time">2023年●月●日（更新日）</span>・<span class="name">〇〇〇〇（監修した人の名前）</span>
              </div>
            </summary>
          </a>

          <a href="#" class="flex item">
            <figure class="item__img"><img src="/assets/img/common/img_column_04.png" alt=""></figure>
            <summary class="item__box">
              <h2 class="item__box--ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</h2>
              <div class="flex fS aiC gap10 item__box--row">
                <span class="time">2023年●月●日（更新日）</span>・<span class="name">〇〇〇〇（監修した人の名前）</span>
              </div>
            </summary>
          </a>

          <a href="#" class="flex item">
            <figure class="item__img"><img src="/assets/img/common/img_column_04.png" alt=""></figure>
            <summary class="item__box">
              <h2 class="item__box--ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</h2>
              <div class="flex fS aiC gap10 item__box--row">
                <span class="time">2023年●月●日（更新日）</span>・<span class="name">〇〇〇〇（監修した人の名前）</span>
              </div>
            </summary>
          </a>

          <a href="#" class="flex item">
            <figure class="item__img"><img src="/assets/img/common/img_column_04.png" alt=""></figure>
            <summary class="item__box">
              <h2 class="item__box--ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</h2>
              <div class="flex fS aiC gap10 item__box--row">
                <span class="time">2023年●月●日（更新日）</span>・<span class="name">〇〇〇〇（監修した人の名前）</span>
              </div>
            </summary>
          </a>

          <a href="#" class="flex item">
            <figure class="item__img"><img src="/assets/img/common/img_column_04.png" alt=""></figure>
            <summary class="item__box">
              <h2 class="item__box--ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</h2>
              <div class="flex fS aiC gap10 item__box--row">
                <span class="time">2023年●月●日（更新日）</span>・<span class="name">〇〇〇〇（監修した人の名前）</span>
              </div>
            </summary>
          </a>

          <a href="#" class="flex item">
            <figure class="item__img"><img src="/assets/img/common/img_column_04.png" alt=""></figure>
            <summary class="item__box">
              <h2 class="item__box--ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</h2>
              <div class="flex fS aiC gap10 item__box--row">
                <span class="time">2023年●月●日（更新日）</span>・<span class="name">〇〇〇〇（監修した人の名前）</span>
              </div>
            </summary>
          </a>

          <a href="#" class="flex item">
            <figure class="item__img"><img src="/assets/img/common/img_column_04.png" alt=""></figure>
            <summary class="item__box">
              <h2 class="item__box--ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</h2>
              <div class="flex fS aiC gap10 item__box--row">
                <span class="time">2023年●月●日（更新日）</span>・<span class="name">〇〇〇〇（監修した人の名前）</span>
              </div>
            </summary>
          </a>

          <a href="#" class="flex item">
            <figure class="item__img"><img src="/assets/img/common/img_column_04.png" alt=""></figure>
            <summary class="item__box">
              <h2 class="item__box--ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</h2>
              <div class="flex fS aiC gap10 item__box--row">
                <span class="time">2023年●月●日（更新日）</span>・<span class="name">〇〇〇〇（監修した人の名前）</span>
              </div>
            </summary>
          </a>

          <a href="#" class="flex item">
            <figure class="item__img"><img src="/assets/img/common/img_column_04.png" alt=""></figure>
            <summary class="item__box">
              <h2 class="item__box--ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</h2>
              <div class="flex fS aiC gap10 item__box--row">
                <span class="time">2023年●月●日（更新日）</span>・<span class="name">〇〇〇〇（監修した人の名前）</span>
              </div>
            </summary>
          </a>

        </div>

        <nav class="pagination">
          <div class="nav-links">
            <a class="prev page-numbers" href="#"><span></span></a>
            <a class="page-numbers" href="#">1</a>
            <span class="page-numbers current">2</span>
            <a class="page-numbers" href="#">3</a>
            <a class="page-numbers" href="#">4</a>
            <a class="page-numbers" href="#">5</a>
            <a class="next page-numbers" href="#"><span></span></a>
          </div>
        </nav>

      </section>

      <!-- サイドメニュー -->
      <aside class="side-nav">

        <div class="document">
          <h3 class="ttl-tertiary">お役立ち資料（無料）</h3>
          <div class="item">
            <div class="item__img"><img src="/assets/img/common/img_document_01.png" alt=""></div>
            <div class="item__ttl">知らないともったいない！<br>ビジネスカードの🉐活用ガイド</div>
            <div class="item__btn"><a href="#" class="btn-blue">資料をダウンロードする</a></div>
          </div>
        </div>

        <div class="related-list">
          <h3 class="ttl-tertiary">関連記事</h3>
          <a href="#" class="flex aiC inherit item">
            <div class="item__img"><img src="/assets/img/common/img-blog01.jpg" alt=""></div>
            <div class="item__ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</div>
          </a>
          <a href="#" class="flex aiC inherit item">
            <div class="item__img"><img src="/assets/img/common/img-blog02.jpg" alt=""></div>
            <div class="item__ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</div>
          </a>
          <a href="#" class="flex aiC inherit item">
            <div class="item__img"><img src="/assets/img/common/img-blog03.jpg" alt=""></div>
            <div class="item__ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</div>
          </a>
          <a href="#" class="flex aiC inherit item">
            <div class="item__img"><img src="/assets/img/common/img-blog04.jpg" alt=""></div>
            <div class="item__ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</div>
          </a>
          <a href="#" class="flex aiC inherit item">
            <div class="item__img"><img src="/assets/img/common/img-blog05.jpg" alt=""></div>
            <div class="item__ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</div>
          </a>
        </div>

        <ul class="bnr-list">
          <li><a href="#"><img src="/assets/img/common/bnr_01.png" alt=""></a></li>
          <li><a href="#"><img src="/assets/img/common/bnr_02.png" alt=""></a></li>
          <li><a href="#"><img src="/assets/img/common/bnr_03.png" alt=""></a></li>
          <li><a href="#"><img src="/assets/img/common/bnr_04.png" alt=""></a></li>
          <li><a href="#"><img src="/assets/img/common/bnr_05.png" alt=""></a></li>
        </ul>

      </aside>
      
    </div>
  </section>

  <section class="breadcrumb">
    <div class="containers">
      <ul>
        <li>
          <a href="/">TOP</a>
        </li>
        <li>
          <a href="#">ビジネスカード</a>
        </li>
      </ul>
    </div>
  </section>

</main>

{% endblock %}