{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}

<main class="home">

<!-- MV -->
<section class="mv">
  <div class="mv__inner">
    <h1 class="mv__inner--ttl"><span>中小企業・個人事業主のための</span>お役立ちビジネスコラム</h1>
    <p class="mv__inner--lead">中小企業・個人事業主のよくある課題に対して<br>解決のヒントになる情報を随時更新！</p>
  </div>
</section>
<!-- MV -->

<!-- お役立ちコラムカテゴリ -->
<section class="column-category">
  <div class="containers">
    <h2 class="ttl-secondary ttl-en" data-en-label="COLUMN CATEGORY">お役立ちコラムカテゴリ</h2>
    <ul class="column-category-list flex gap30">
      <li class="column-category-list__item">
        <a href="#">
          <h3 class="column-category-list__item--ttl ico-01">ビジネスカード</h3>
          <p class="column-category-list__item--txt">ビジネスカードに関する情報から<br class="pc-only">選び方・使い方など</p>
        </a>
      </li>
      <li class="column-category-list__item">
        <a href="#">
          <h3 class="column-category-list__item--ttl ico-02">経営</h3>
          <p class="column-category-list__item--txt">経営・戦略立案に役立つ<br class="pc-only">基礎知識やトレンド情報</p>
        </a>
      </li>
      <li class="column-category-list__item">
        <a href="#">
          <h3 class="column-category-list__item--ttl ico-03">人事労務・総務</h3>
          <p class="column-category-list__item--txt">人事労務管理や業務効率化<br class="pc-only">のヒントになる情報</p>
        </a>
      </li>
      <li class="column-category-list__item">
        <a href="#">
          <h3 class="column-category-list__item--ttl ico-04">財務・経理</h3>
          <p class="column-category-list__item--txt">財務・経理の基礎知識から<br class="pc-only">決算数値の分析方法まで</p>
        </a>
      </li>
      <li class="column-category-list__item">
        <a href="#">
          <h3 class="column-category-list__item--ttl ico-05">資金繰り</h3>
          <p class="column-category-list__item--txt">資金繰り改善や資金調達の<br class="pc-only">参考となる基礎知識や対策方法</p>
        </a>
      </li>
      <li class="column-category-list__item">
        <a href="#">
          <h3 class="column-category-list__item--ttl ico-06">税金・節税対策</h3>
          <p class="column-category-list__item--txt">税金に関する基礎知識から<br class="pc-only">節税対策のポイントまで</p>
        </a>
      </li>
      <li class="column-category-list__item">
        <a href="#">
          <h3 class="column-category-list__item--ttl ico-07">法律知識</h3>
          <p class="column-category-list__item--txt">経営やビジネスに影響を与える<br class="pc-only">法律の知識と対策について</p>
        </a>
      </li>
      <li class="column-category-list__item">
        <a href="#">
          <h3 class="column-category-list__item--ttl ico-08">福利厚生</h3>
          <p class="column-category-list__item--txt">人材の定着・従業員のモチベーションUP<br class="pc-only">につながる福利厚生</p>
        </a>
      </li>
      <li class="column-category-list__item">
        <a href="#">
          <h3 class="column-category-list__item--ttl ico-09">補助金・助成金</h3>
          <p class="column-category-list__item--txt">補助金や助成金における<br class="pc-only">基礎知識</p>
        </a>
      </li>
    </ul>
  </div>
</section>
<!-- /お役立ちコラムカテゴリ -->

<!-- /お役立ち資料 -->
<section class="document">
  <div class="containers">
  <h2 class="ttl-secondary ttl-en" data-en-label="DOCUMENT">お役立ち資料</h2>
    <ul class="document-list flex gap30">
      <li class="document-list__item">
        <a href="#">
          <figure class="document-list__item--img"><img src="/assets/img/home/img_document_01.png" alt=""></figure>
          <h3 class="document-list__item--ttl">ビジネスカードの🉐 活用ガイド</h3>
          <p class="document-list__item--btn btn-blue">資料をダウンロードする</p>
        </a>
      </li>
      <li class="document-list__item">
        <a href="#">
          <figure class="document-list__item--img"><img src="/assets/img/home/img_document_02.png" alt=""></figure>
          <h3 class="document-list__item--ttl">新たな資金繰り改善方法</h3>
          <p class="document-list__item--btn btn-blue">資料をダウンロードする</p>
        </a>
      </li>
      <li class="document-list__item">
        <a href="#">
          <figure class="document-list__item--img"><img src="/assets/img/home/img_document_03.png" alt=""></figure>
          <h3 class="document-list__item--ttl">BtoB後払い決済・請求代行が生み出すメリット</h3>
          <p class="document-list__item--btn btn-blue">資料をダウンロードする</p>
        </a>
      </li>
    </ul>
    <div><a href="#" class="btn-white">その他のお役立ち資料を見る</a></div>
  </div>
</section>
<!-- /お役立ち資料 -->


</main>

{% endblock %}