<footer>
  <div class="footer-container">

    <section class="primary-section">
      <div class="containers flex">
        <div class="category flex">
          <div class="category__ttl"><div>記事カテゴリ</div></div>
          <ul class="category__list flex">
            <li><a href="#">経営</a></li>
            <li><a href="#">人事労務・総務</a></li>
            <li><a href="#">財務・経理</a></li>
            <li><a href="#">ビジネスカード</a></li>
            <li><a href="#">資金繰り</a></li>
            <li><a href="#">税金・節税対策</a></li>
            <li><a href="#">法律知識</a></li>
            <li><a href="#">福利厚生</a></li>
            <li><a href="#">補助金・助成金</a></li>
          </ul>
        </div>
        <div class="btn-whitepaper btn-orange"><a href="#">お役立ち資料</a></div>
      </div>
    </section>

    <section class="secondary-section">
      <div class="containers flex">

        <div class="group">
          <div class="footer__logo">
            <img src="/assets/img/footer/footer_logo.png" />
          </div>
          <ul class="group__list">
            <li>貸金業者登録番号</li>
            <li>関東財務局長（14）第00085号</li>
            <li>日本貸金業協会会員 第002346号</li>
          </ul>
        </div>

        <div class="footer__list">
          <ul class="flex">
            <li><a href="https://corporate.saisoncard.co.jp/company/about_cs/" target="_blank">会社概要</a></li>
            <li><a href="https://www.saisoncard.co.jp/info/privacy-policy/" target="_blank">プライバシーポリシー</a></li>
            <li><a href="https://www.saisoncard.co.jp/info/legal/" target="_blank">「個人情報の保護に関する法律」に基づく公表事項</a></li>
            <li><a href="https://www.saisoncard.co.jp/cookie-policy/" target="_blank">cookieポリシー</a></li>
            <li><a href="https://www.saisoncard.co.jp/cookie-policy/" target="_blank">サイトマップ</a></li>
          </ul>
        </div>

      </div>

      <div class="copy-right">
        <p>Copyright(C)CREDIT SAISON Co.,Ltd.All Rights Reserved.</p>
      </div>

    </section>

  </div>
</footer>