<header>
  <div class="header__inner">
    <div class="header__logo">
      <a href="#"><img src="/assets/img/logo/header-nav-list-logo.png" alt="" class="header__logo--img"><span class="header__logo--sub">お役立ちコラム</span></a>
      <div class="header__logo--txt">中小企業様・個人事業主様向けお役立ちビジネスコラム</div>
    </div>
		<div class="search pc-only">
      <form action="#" method="get" class="search__inner">
        <input type="text" name="search" placeholder="気になるワードで記事検索">
        <input type="submit" name="submit" value="検索">
      </form>
		</div>
		<div id="nav-toggle" class="sp-only">
			<span></span>
			<span></span>
			<span></span>
		</div>
  </div>

	<div class="nav-list pc-only">
    <div class="nav-list__inner flex aiC">
      <ul class="flex">
        <li><a href="#">TOP</a></li>
        <li><a href="#">経営</a></li>
        <li><a href="#">人事労務・総務</a></li>
        <li><a href="#">財務・経理</a></li>
        <li><a href="#">資金繰り</a></li>
        <li><a href="#">税金・節税対策</a></li>
        <li><a href="#">法律知識</a></li>
        <li><a href="#">福利厚生</a></li>
        <li><a href="#">補助金・助成金</a></li>
      </ul>
      <div class="btn-whitepaper"><a href="#">お役立ち資料</a></div>
    </div>
	</div>
	<div id="gloval-nav">
		<ul class="list">
			<li><a href="#">TOP</a></li>
			<li><a href="#">経営</a></li>
			<li><a href="#">人事労務・総務</a></li>
			<li><a href="#">財務・経理</a></li>
			<li><a href="#">資金繰り</a></li>
			<li><a href="#">税金・節税対策</a></li>
			<li><a href="#">法律知識</a></li>
			<li><a href="#">福利厚生</a></li>
			<li><a href="#">補助金・助成金</a></li>
		</ul>
    <div class="btn-whitepaper"><a href="#">お役立ち資料</a></div>
		<div class="search sp-only">
      <form action="#" method="get" class="search__inner">
        <input type="text" name="search" placeholder="気になるワードで記事検索">
        <input type="submit" name="submit" value="検索">
      </form>
		</div>

	</div>
</header>